<p>graphql-query.ejs.html</p>
<p>ID: <%= user.id %></p>
<p>Username: <%= user.username %></p>
<p>Name:     <%= user.displayName %></p>
<p>LastUpd:  <%= user._json.updated_at %></p>
<pre>Name:     <%= JSON.stringify(user) %></pre>
<!-- <p>Email: <%= //user.emails[0].value %></p> -->